---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hector dev">
  <main class="container mx-auto p-4">
    <h1 class="font-extrabold text-3xl text-center">
      📶 Welcome to my Portfolio 💻
    </h1>
    <br />
    <p class="tracking-tight">
      This portfolio's interface is inspired on tekken 8 videogame, where you
      can find all the info about me, my projects and my skills, and
      experiences, feel free to navigate and test every feature.
    </p>
    <br />
    <p class="tracking-tight">
      This portfolio is built with Astro, TailwindCSS, and Svelte. Using
      UILibraries like swiperJs, and nanostores for the ux.
    </p>
  </main>
</Layout>
