---
import { Image } from "astro:assets";
import fourthSlide from "../../assets/fourthSlide.webp";
---

<div class="size-full fixed top-0 left-0">
  <Image class="size-full" src={fourthSlide} alt={"fourth slide"} />
</div>
